@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
@using ExpenseTracker.Application.DTO
@model UserDto;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width,
                   initial-scale=1,
                   shrink-to-fit=no" />
    <title>Bootstrap Form</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <h1 class="text-success text-center mt-5">
        Expense Tracker
    </h1>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form id="registrationForm" asp-controller="Home" asp-action="Login" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="success" data-ajax-failure="failure">
                            <div class="form-group mt-3">
                                <label for="email">
                                    Email
                                </label>
                                <input type="email"
                                       asp-for="Email"
                                       class="form-control"
                                       id="email"
                                       placeholder="Email" required />
                            </div>
                            <div class="form-group mt-3">
                                <label for="password">
                                    Password
                                </label>
                                <input type="password"
                                       asp-for="Password"
                                       class="form-control"
                                       id="password"
                                       placeholder="Password"
                                       required />
                            </div>
                            <input type="submit" class="btn btn-danger mt-3">                  
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function success(res) {
            if(res.success){
                window.location.href="/Home/Dashboard";
            }
        }

        function failure(){

        }
    </script>
</body>
</html>